/*--------------------------------------------------------------
6.0 - navigation
--------------------------------------------------------------*/
.admin-bar  {
    #header_side {
        @media (min-width: 1200px) {
            top: 32px;
        }

    }
}
.site-header .header-main {
    position: relative;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }
     .header-main-wrap{
        position: relative;
        ul.sub-menu {
            &.multicolumn {
                width: auto !important;
                max-width: 1140px;
                &.submenu-open {
                    >li{
                        >ul {
                            display: block;
                        }
                        span.cs-menu-toggle {
                            display: none;
                        }
                    }
                }
                li {
                    a {
                        &:hover, &:focus {
                            color: $link_color_hover;
                        }
                    }
                }
            }
        }
    }
}
.site-header {
    .menu-main-menu {
        .current-menu-ancestor, .current-menu-item {
            >a {
                color: $primary_color;
            }
        }
        ul.sub-menu{
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            @media (min-width: 1200px) {
                box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    left: 0 !important;
                    top: 0;
                }
                li {
                    a {
                        &:hover, &:focus {
                            background: $menu_hover_color;
                        }
                    }
                }
            }
            li{
                a{
                    width: 100%;
                    background: none;
                    padding: 5px 20px 5px 20px;
                    color: #5c5c5c;
                    font-size: 13px;
                    font-family: 'Lato', sans-serif;
                    text-decoration: none;
                    display: inline-block;
                    line-height: inherit;
                    clear: both;
                    position: relative;
                    outline: 0;
                    @include transition(all 0.5s ease 0s);
                    
                }
            }
            .current-menu-item,.current-menu-parent,.current_page_item {
                >a{
                    color: $link_color_hover;
                }
            }
        } 
        li{
            &.has_full_width {
                ul.drop_full_width.sub-menu { 
                    left: 0;
                    right: 0;
                    width: 1140px;
                    z-index: 9999;
                    padding: 20px 30px;
                    top: auto;
                    @media (max-width: 1199px) {
                        width: 100% !important;
                        left: 0 !important;
                        border-top: none;
                        border-bottom: solid 1px #f0f0f0;
                        li {
                            padding-left: 0 !important;
                        }
                    }
                    span.menu-title {
                        font-weight: 400;
                        display: inline-block;
                        font-size: 15px;
                    }
                }
                .menu_content {
                    .menu-item h5{
                        a:hover,a:focus {
                            padding-left: 0;
                        }
                    }
                }
            }
            a{
                position: relative;
                padding: 15px 20px 16px;
                line-height: 24px;
                font-size: 15px;
                display: inline-block;
                text-decoration: none;
                text-transform: capitalize;
                outline: 0;
                @include transition( color .3s linear, background .3s linear);
                &:hover,&:focus {
                    color: $link_color_hover;
                }
            }
        }  
        >li {
            >ul.sub-menu {
                padding: 10px 0;
                >li {
                    >a {
                        @media (min-width: 1200px) {
                            &:hover, &:focus {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }      
    }
    .header-main {
        .bg-overlay {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            background: transparent;
            height: 100%;
            width: 100%;
        }
        .header-main-left-menu {
            position: relative;   
        }
    }
    @media screen and (min-width: 1200px) {
        background: transparent;
        .header-navigation {
            background: none !important;
        }        
        .header-main-right-menu {
            position: relative;
        }
        .menu-main-menu {
            >li {
                >ul.sub-menu {  
                    >li {
                        li{
                            a{
                                &:hover, &:focus {
                                    background: transparent;
                                    color: $link_color_hover;
                                }
                            }
                        } 
                    }                  
                    &.multicolumn {
                        &:before {
                            left: 104px;
                        }
                        &.columns2 {
                            >li {
                                width: 50%;
                            }
                            ul.sub-menu {
                                min-width: 50%;
                            }
                        }
                        &.columns3 {
                            >li {
                                width: 33.333%;
                            }
                            ul.sub-menu {
                                min-width: 33.333%;
                            }
                        }
                        &.columns4 {
                            >li {
                                width: 25%;
                            }
                            ul.sub-menu {
                                min-width: 25%;
                            }
                        }
                        &.columns5 {
                            >li {
                                width: 20%;
                            }
                            ul.sub-menu {
                                min-width: 20%;
                            }
                        }
                        >li {
                            float: left;
                            &.menu-item {
                                font-weight: 600;
                                >a {
                                    &:hover, &:focus {
                                        background: none;
                                    }
                                    >span.menu-title {
                                        font-weight: inherit;
                                    }
                                }
                            }
                            
                            &.menu-item-has-children {
                                >a {
                                    span.menu-title {
                                        font-weight: inherit;
                                    }
                                    &:after {
                                        content: none;
                                    }
                                }
                                &.group {
                                    ul.sub-menu {
                                        position: relative;
                                        opacity: 1;
                                        visibility: visible;
                                        left: 0;
                                        top: 0;
                                        box-shadow: none;
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                        ul.sub-menu {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1199px) {
        &.header-transparent {
            .header-main {
                &:before {
                    background: $default_color;
                }
            }
        }
        .menu-main-menu {
            li {
                ul.sub-menu {
                   &.multicolumn {
                        padding: 0 25px !important;
                        border-bottom: none !important;
                    } 
                }
            }        
        }
    }
    .header-top {
        &.layout2 {
            @media (max-width: 1199px) {
                display: block;
                .header-top-wrap {
                    .header-top-left, .header-top-center {
                        display: none;
                    }
                    .header-top-right {
                        display: block;
                        flex: none;
                        text-align: center;
                        line-height: 1;
                        padding: 20px 0;
                    }
                }
            }               
        }
    }
    /* Header Default */
    &.header-default {
        position: relative;
        &:before {
            background: transparent;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        } 

        .header-main {
            position: relative;
            @media (min-width: 1200px) {
                margin-bottom: -30px;
                z-index: 99;
            }
            &.border-header {
                border-bottom-style: none;
                .header-main-wrap {
                    @media (min-width: 1200px) {
                        border-bottom: 1px solid $border_color;
                    }
                    
                }

            }
            &.header-fixed {
                position: fixed;
                &.border-header {
                    border-bottom-style: solid;
                    .header-main-wrap {
                        border-bottom: none;
                    }
                }
                .main_logo {
                    display: none;
                }
            }
            .menu-main-menu {
                >li {
                    >a {
                        font-weight: 800;
                        font-size: 12px;
                        color: #fff;
                        text-transform: uppercase;
                        &:hover, &:focus {
                            color: $link_color_hover;
                        }
                    }
                    > a {
                        padding: 18px 30px 18px 30px;
                    }
                }
                li {
                    &.current-menu-ancestor, &.current-menu-item {
                        >a {
                            color: $primary_color;
                        }
                    }
                }
            } 
            .header-main-wrap {
                position: relative;
                font-family: 'Open Sans', sans-serif;
                @media (min-width: 1200px) {
                    display: flex;  
                }              
            }
            .header-main-left-menu {
                flex: auto;
                padding-left: 0;
                background: transparent;
                position: relative;
                @media (min-width: 1200px) {
                    padding-left: 40px;     
                }     
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    background: $default_color; 
                }
            }
            .header-main-right {
                flex: none;
                position: relative;
                display: flex;     
                .header-main-right-wrap {
                    display: flex;
                    align-items: center;
                    background: $primary_color; 
                }
                a {
                    display: inline-block;
                    font-weight: 800;
                    font-size: 12px;
                    color: #fff;
                    padding: 18px 36px;
                    line-height: 24px;
                    &:hover, &:focus {
                        color: $default_color;
                    }                 
                }
            }
            &.sticky-desktop.header-fixed {
                &:before {
                    background: $default_color;
                } 
                .header-main-left-menu {
                    background: transparent !important;
                    &:before {
                        background: transparent !important;
                    }
                }
                .header-main-wrap {
                    top: 0;
                    position: relative;
                }
            }
            
        }
        &.header-transparent {
            @media (min-width: 1200px) {
                .header-main-left-menu {
                    padding-left: 30px;
                }
            }
            .header-middle .header-middle-wrap {
                .header-middle-right {
                    .textwidget.custom-html-widget .block-right {
                        color: #fff;
                        h5 {
                            color: #fff;
                        }

                    } 
                }  
            } 
        }    
        
        @media (max-width: 1199px) {
            .navbar-toggle {
                .icon-bar {
                    background: $primary_color;
                }
                &:hover .icon-bar, &:focus .icon-bar {
                    background: $link_color_hover;
                }
            }
        }  
    }

    /* header layout 2 */
    &.header-layout2 {
        .header-main .header-navigation {
            .main-navigation {
                .menu-main-menu{
                    li {
                        &.current-menu-ancestor, .current-menu-item {
                            >a {
                                color: $primary_color;
                            }
                        }
                        a {
                            
                            font-weight: 600;
                            font-size: 13px;
                            font-family: 'Open Sans', sans-serif;                           
                            span {
                                font-weight: inherit !important;
                            }    
                        }
                    }
                    >li {
                         >a {
                            font-weight: 800;
                            font-size: 12px;
                            text-transform: uppercase;
                            color: #fff;
                            &:hover, &:focus {
                                color: $link_color_hover;
                            }
                        }     
                    }
                } 
            }
        }
        .container-fullwidth  {
            @media (min-width: 1600px) {
                padding: 0 80px;
            }
            @media (max-width: 1599px) {
                padding: 0 50px;
            }
            @media (max-width: 1299px) {
                padding: 0 30px;
            }
            @media (max-width: 479px) {
                padding: 0 15px;
            }
            .site-branding {
                padding: 0 80px;
                @media (max-width: 1599px) {
                    padding: 0 50px;
                }
                @media (max-width: 1399px) {
                    padding: 0 30px;
                }
                @media (max-width: 1199px) {
                    padding: 30px;
                }
            }
        }
        @media (min-width: 1200px) {
            
            .header-main {
                &:before {
                    background: #fff;
                } 
              .site-branding {
                width: auto;
              }
              .header-navigation {
                .main-navigation {
                    .menu-main-menu{
                        >li {
                             >a {
                                color: #444444;
                                padding: 42px 18px;
                                &:hover, &:focus {
                                    color: $link_color_hover;
                                }
                            }     
                        }
                    } 
                }
              }
              .header-main-wrap {
                display: flex;
                >div {
                    display: flex;
                    flex: auto;
                    align-items: center;
                    position: relative;
                }
                .header-main-right {
                    margin-left: 30px;
                    .widget {
                        position: relative;
                        padding: 0 30px;
                        &:before {
                            position: absolute;
                            background: #cfcfcf;
                            width: 1px;
                            height: 32px;
                            right: 0;
                            top: 50%;
                            transform:translateY(-50%);
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                            &:before {
                                width: 0;
                            }
                        }
                        .header-block {
                            font-family: "Open Sans", sans-serif;
                            color: #444;
                            line-height: 1.5;
                            .block-title {
                                font-weight: 800;
                                font-size: 18px;
                            }
                            .block-content {
                                font-weight: 400;
                                font-size: 11px;
                                a {
                                    color: $primary_color;
                                    &:hover, &:focus {
                                        color: $link_color_hover;
                                    }
                                }
                            }
                        }
                        ul li{
                            a {
                                color: #202020;
                                width: auto;
                                height: auto;
                                &:hover, &:focus {
                                    color: $link_color_hover;
                                }
                            }
                            &:first-child {
                                padding: 0;
                            }
                            &+li {
                                padding: 0 0 0 10px;
                            }
                        }
                        &.widget_cms_socials_widget ul li a {
                            font-size: 17px;
                        }
                    }
                }
              } 
              &.header-fixed {
                background: transparent;
                box-shadow: 0 10px 20px -15px #ececec;
                &:before {
                    background: #fff;
                }
                .has-sticky-logo {
                    display: none;
                }
              }  
            } 
            &.header-transparent {
                &:before {
                    background: transparent;
                }
                .header-main {
                    &:before {
                        background: transparent;
                    }
                    &.header-fixed {
                        &:before {
                            background: #fff;
                        }                   
                        .header-navigation {
                            .main-navigation .menu-main-menu {
                                >li>a {
                                    color: #202020;
                                    &:hover, &:focus {
                                        color: $link_color_hover;
                                    }
                                }
                                li {
                                    &.current-menu-ancestor, .current-menu-item {
                                        >a {
                                            color: $primary_color;
                                        }
                                    }
                                }   
                            }
                        } 
                        .header-main-wrap .header-main-right .widget {
                            &.widget_cart_search_wrap {
                                .header-search-cart > a {
                                    color: $default_color;
                                }
                            }
                            .header-block .block-title {
                                color: #444;
                            }
                             ul li a {
                                color: #202020;
                            } 
                        }
                    }
                    .header-main-wrap .header-main-right .widget {
                        &.widget_cart_search_wrap {
                            .header-search-cart > a {
                                color: #fff;
                            }
                        }
                        .header-block .block-title {
                            color: #fff;
                        }
                        ul li a {
                            color: #fff;
                            &:hover, &:focus {
                                color: $link_color_hover;
                            }
                        }
                    } 

                }
                .site-branding {
                    background: transparent;
                }
                .header-navigation {
                    .main-navigation .menu-main-menu {
                        >li>a {
                            color: #fff;
                            &:hover, &:focus {
                                color: $link_color_hover;
                            }
                        }
                    }
                }   
            }
        }
        @media (max-width: 1199px) {

            .main_logo {
                padding: 0 15px;
            }
            .header-main {
                background: #fff;
                .header-main-wrap {
                    padding: 30px 0;
                }
                
            }
            .navbar-toggle .icon-bar {
                background: $primary_color;
            }
        }
                   
    }

    /* Header layout 3 */
    &.header-layout3 {
        .header-main {
            position: relative;
            .menu-main-menu li {
                &.current-menu-ancestor, .current-menu-item {
                    >a {
                        color: $primary_color;
                    }
                }
            }
            &.header-fixed {
                position: fixed;
                .main_logo.has-sticky-logo {
                    display: none;
                }
            }
            &:before {
                background: #1a2441;
            }
            .header-main-left-menu {
                position: relative;
                
                @media (min-width: 1200px) {
                    padding-left: 10px;     
                }     
            }
            &.sticky-desktop.header-fixed {
                
                .header-main-left-menu {
                    background: transparent;
                    &:before {
                        background: transparent !important;
                    }
                }
                .header-main-wrap {
                    top: 0;
                    position: relative;
                }
            }
        } 
        &.header-transparent {
            .header-main  {
                &.header-fixed {
                    &:before {
                        background: #1a2441;
                    }
                }
                &:before {
                    background: transparent;
                }
            }
        }   
        .header-top {
            &.layout2 {
                .site-branding {
                    display: none;
                }
            }
        }
        .header-main-wrap {
            position: relative;
            @media (min-width: 1200px) {
                display: flex;
                font-family: 'Open Sans', sans-serif;
                >div {
                    display: flex;
                    align-items: center;
                    flex: auto;
                    vertical-align: middle;
                }
            }
            @media (max-width: 1199px) {
                padding: 30px 0;
            }
        }
        .menu-main-menu {
            >li {
                >a {
                    font-weight: 800;
                    font-size: 12px;
                    color: #fff;
                    text-transform: uppercase;
                    &:hover, &:focus {
                        color: $link_color_hover;
                    }
                    &:before {
                        background: $primary_color;
                    }
                }
                > a {
                    padding: 43px 20px;
                }
            }
        }
        
        .header-main-right {
            flex: none;
            position: relative;
            .widget.widget_text {
                height: 71px;
                width: auto;
                background: $primary_color;
                line-height: 70px;
                @include transition(all 0.5s ease 0s);
                &:hover,&:focus {
                    cursor: pointer;
                }
            }
            .left-icon {
                float: left;
                font-size: 22px;
                line-height: 70px;
                margin-left: 30px;
                margin-right: 15px;
                span {
                    color: $primary_color;
                }
            }
            .right-content {
                overflow: hidden;
                padding-top: 18px;
                margin-right: 30px;
            }
            p {
                margin: 0;
                color: #fff;
                &:first-child {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1;
                }
                &:last-child {
                    font-size: 13px;
                    line-height: 1;
                    margin-top: 3px;
                }
            }
            a {
                font-weight: 600;
                line-height: 20px;
                color: #fff;                 
            }
        }
        .header-main-right-menu{
            flex-direction: row-reverse;
        }
        &.header-fixed {
            .main_logo {
                display: none;
            }
        }
    }
}

.sticky_logo {
display: none;
}
&.header-fixed {
    .sticky_logo {
        display: block;
    }
}
.site-header {
    &.header-transparent {
        background: transparent;
        position: absolute;
        width: 100%;
        z-index: 999;
        box-shadow: none;
        left: 0;
        top: 0;
    }  
}
@media screen and (min-width: 1200px) {

    #menu-mobile, .cs-menu-toggle {
        display: none;
    }
    .admin-bar .site-header {
      .widget_cart_search_wrap{
        .widget_searchform_content{
          &.popup{
            margin-top: 32px;
          }
        }
      }
    } 
      .header-navigation .main-navigation.collapse {
        display: block;
        vertical-align: middle;
        overflow: visible;
        height: auto !important;
      }
    .header-navigation .main-navigation {
        .menu-main-menu {
            margin: 0;
            li.has_full_width {
                position: inherit;
                ul.drop_full_width.sub-menu {
                    .menu_filter {
                        width: 20%;
                        float: left;
                        ul {
                            li a {
                                float: left;
                            }
                        }
                    }    
                    .menu_content {
                        float: right;
                        width: 80%;
                        .col4 {
                            display: inline-block;
                        }
                    }
                }
            }
            >ul>li,
            > li {
                vertical-align: middle;
                display: inline-block;
                position: relative;
                &.page_item_has_children {
                    position: relative;
                    > .cs-menu-toggle {
                        display: none;
                    }
                  
                }
                ul.sub-menu,  ul.children{
                    background: #fff;
                    clip: rect(1px, 1px, 1px, 1px);
                    >li{
                        position: relative;                         
                    }
                    .menu-item-has-children, .page_item_has_children{
                        >a{
                            &:after{
                                font-family: "FontAwesome";
                                content: " \f105";
                                position: absolute;
                                right: 15px;
                                font-weight: 300;
                                font-size: 14px;
                            }
                        }
                    }                     
                }
            }
        }
    }
    .header-navigation .main-navigation li{
        ul {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 130%;
            z-index: 10;
            overflow: hidden;
            opacity: 0;
            left: 0;
            visibility: hidden;
            display: block;
            list-style: none;
            text-align: left;
            min-width: 200px;
            @include transition(visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out);
        }

        &:hover, &:focus{
            >ul{
                top: 100%;
                opacity: 1;
                visibility: visible;
                border-left: 0;
                overflow: inherit;
                clip: inherit !important;
            }
             
        }
    } 
    .header-navigation .main-navigation li li {
        margin: 0;
        border-top: none;
        >ul{
            top: auto;
            margin-top: 42px;
            left: 130%;

        }
        &:hover{
            >ul{
                left: 100%;
                margin-top: -36px;
                top: auto;
            }
        }
        li:hover>ul{
            left: 100%;
            margin-top: -36px;
            top: auto;
        }

    }
     
    .header-navigation .main-navigation li li:last-child >a {
        border-bottom: 0 !important;
    }
     
    .header-navigation .main-navigation li ul{
        &.back {
            left: -100% !important;
            ul:not(.back) {
                right: 100%;
                left: auto !important;
            }
            ul.back {
                left: 100%;
                right: auto;
                ul:not(.back) {
                    left: 100%;
                    right: auto;
                }
                ul.back {
                    right: 100%;
                    left: auto !important;
                }
            }
        }
    } 
    .cshero-main-header.header-fixed .header-navigation .main-navigation .menu-main-menu > li.menu-item-has-children > .cs-menu-toggle {
        display: none;
    }
    .navbar-toggle {
        display: none;
    }
     
}

@media screen and (max-width: 1199px) {
    .header-navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 998;
        width: 100%;
        display: block;
        text-align: left;
        padding: 0 30px;
        @media (max-width: 767px) {
            padding: 0 15px;
        }
        @media (max-width: 479px) {
            padding: 0 0 0 15px;
        }
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: $default_color;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    .site-header .header-main {
        .header-navigation .main-navigation{
            float: none !important;
            max-height: 450px;
            overflow-y: auto;
            .menu-main-menu {
                li a {
                    &:hover, &:focus {
                        color: $link_color_hover;
                    }
                }
            }
            > div > ul,
            ul.nav-menu{
                margin: 0;
                padding: 0;
                list-style: none;
                margin-top: 20px;
                margin-bottom: 20px;
                >li {
                    list-style: none;
                    &.current-menu-ancestor,&.current-menu-parent {
                        >a {
                            color: $link_color_hover;
                        }
                    }
                    >a {
                        padding:8px 60px 8px 0;
                        line-height: 24px;
                        display: block;
                        color: #fff;
                        &:hover, &:focus {
                            color: $link_color_hover;
                        }
                    }
                    .children span.cs-menu-toggle{
                        right: 10px;
                    }
                    .children .children span.cs-menu-toggle{
                        right: 20px;
                    }
                }
            }
        }
    }
        
    .main_logo{
      padding: 10px 0;
    }
    .navbar-toggle{
      display: block;
      margin: 0;
      width: 32px;
      height: 40px;
      min-width: 1px;
      border-width: 0;
      position: absolute;
      top: 50%;
      right: 0;
      @include transform (translateY(-50%));
      &.collapsed{
          background: transparent;
      }
      .icon-bar {
          background: #fff;
          @include transition(background .3s linear 0s);
      }
      &:hover,&:focus{
          background: transparent;
          .icon-bar {
              background: $link_color_hover;
          }
      }
    } 
    .header-navigation .main-navigation li ul, .header-navigation .main-navigation li ul ul{
        width: 100% !important;
    }
    
    .collapse .main-navigation div.nav-menu > ul {
        display: block;
        
    }
    .header-navigation .main-navigation .menu-main-menu > ul > li,
    .header-navigation .main-navigation .menu-main-menu > li {
        position: relative;
        li {
            position: relative;

        } 
        .cs-menu-toggle {
            cursor: pointer;
            position: absolute;
            right: 0px;
            text-align: center;
            top: 0;
            padding: 7px 24px;
            vertical-align: middle;
            display: block;
            z-index: 100;
            font-size: 20px;
            &:hover{
              color: $link_color_hover;
            }
            i {
                line-height: 1;
            }
        }
        ul.sub-menu,ul.children {
            overflow: hidden;
            display: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 0px 0 0px 25px;
            @media (max-width: 767px) {
                padding: 0px 0 0px 10px;
            }
            @media (max-width: 479px) {
                padding: 0;
            }
            .cs-menu-toggle {
                width: 60px;
                height: 46px;
                line-height: 42px;
            }
            li {
                
                line-height: 24px;
                @include transition(all 0.5s ease 0s); 
                &:last-child {
                    border-bottom: 0;
                }
                a {
                    display: block;
                    color: #fff;
                    padding: 11px 60px 11px 0;
                    font-weight: 600;             
                    &:hover, &:focus {
                        color: $link_color_hover;
                    }
                }
            }
           
            &.submenu-open {
                
                .submenu-open{
                    + .cs-menu-toggle i {
                        &:before {
                            content: "\f106";
                        }
                    }
                }
                + .cs-menu-toggle i {
                    &:before {
                        content: "\f106";
                    }
                }

            }
 
        }
          
    }
 
}
.header-navigation .main-navigation::-webkit-scrollbar{
    height: 0;
    width: 7px;
    background-color: transparent;
}

.header-navigation .main-navigation::-webkit-scrollbar-track{
    border-radius: 10px;
}
 
.header-navigation .main-navigation::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: transparent;
}

.header-navigation:hover .main-navigation::-webkit-scrollbar {
    width: 7px;
    height: auto;
    background-color: #F5F5F5;
}
.header-navigation:hover .main-navigation::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(127, 127, 127, 0.4);
} 




 
